.carousel-inner img{
	width: 1500px ;
	height:800px
}

td a{
	text-decoration:none;
	color: black;
}

td a:hover{
	text-decoration-line: none;
}

/* .display-search-total{
	display: inline;
} */

/* .table {
	width:25% !important;
} */



@media screen and (max-width: 1000px){
		.detail-logo{
			display: none;
		}

		.add-logo{
			display: none;
		}


		/* #hide{
			visibility: hidden;
		} */
}

@media screen and (max-width: 500px){
		.carousel-inner img{
			width: 1000px ;
			height:300px
		}

		table {
			width: 200px;
		}

		.confirmdelete{
			display: grid;
		}

		.detail-logo{
			display: none;
		}

		.add-logo{
			display: none;
		}

		/* .display-search-total{
			display: grid;
		} */

		/* #hide{
			visibility: hidden;
		} */
}
