.carousel-inner img{
	width: 1500px ;
	height:800px
}

@media screen and (max-width: 500px){
		.carousel-inner img{
			width: 1000px ;
			height:300px
		}

		tbody {
			width: 10%;
			height: 80vh;

		}

		.confirmdelete{
			display: grid;
		}

		.detail-logo{
			display: none;
		}

		.add-logo{
			display: none;
		}
}
