{% extends "useraccount/base.html" %}
{% load static %}
{% load bootstrap3 %}


{% block content %}

      {% if messages %}
          {%for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <h4>  {{ message }} </h4>
              </div>
          {% endfor %}
      {% endif %}

      <form  class="navbar-form navbar-left" action="{% url 'search'%}" method="GET" accept-charset="utf-8">
        <div class="form-group">
        <input type="text" class="form-control" name="q" value="{{ request.GET.q }}" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-info" aria-label="Left Align"> SEARCH </button>
      </form>


      <table class="table table-hover">
        <thead>
          <tr>
            <th> NAME </th>
            <th> EMAIL </th>
            <th> BUSINESS UNIT </th>
            <th> POSITION </th>
            <th> STATUS </th>
            <th> COMPANY </th>

          </tr>
        </thead>

        <tbody>
          {%for post in posts %}
            <div class="tablediv">
            <tr class="clickable-row" action= "{% url 'contact-detail' post.id %}">
              <td>  {{ post.name }} </td>
              <td>  {{ post.email }} </td>
              <td> {{ post.sbu }}</td>
              <td> {{ post.position }}</td>
              <td> {{ post.status }}</td>
              <td> {{ post.company }}</td>
            </tr>
            </div>
        {% endfor %}
        </tbody>
     </table>

    {% if is_paginated %}
        {% if page_obj.has_previous %}
          <a class="btn btn-info" href="?page=1">First</a>
          <a class="btn btn-info" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          <a class="btn btn-info" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-info" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
{% endblock %}
