{% extends "useraccount/base.html" %}
{% load static %}

{% block content %}

  <div class="detail-logo col-md-4" style="height: 90vh; margin:0">
     <h1 style="margin-left:10px; margin-top:50px; font-family:Open San-Serif">CONTACT MANAGER </h1>
     <img src="{% static 'useraccount/img/vgglogo.png' %}" alt="" style="padding: 20% 25% 20% 23%;text-align:center;height:53%">

  </div>

  <div class="col-md-8"> <br>
      <ul class="list-group">
      <li class="list-group-item"><span> <strong> NAME: </strong> </span> {{ object.name }}</li>
      <li class="list-group-item"><span> <strong> EMAIL: </strong> </span>{{ object.email }}</li>
      <li class="list-group-item"><span> <strong> PHONE: </strong> </span>{{ object.phone }}</li>
      <li class="list-group-item"><span> <strong> ADDRESS: </strong> </span>{{ object.address }}</li>
      <li class="list-group-item"><span> <strong> SEX: </strong> </span>{{ object.sex }}</li>
      <li class="list-group-item"><span> <strong> STRATEGIC BUSINESS UNIT: </strong> </span>{{ object.sbu }}</li>
      <li class="list-group-item"><span> <strong> POSITION: </strong> </span>{{ object.position }}</li>
      <li class="list-group-item"><span> <strong> STATUS: </strong> </span>{{ object.status }}</li>
      <li class="list-group-item"><span> <strong> COMPANY: </strong> </span>{{ object.company }}</li>
      </ul>

      <div class="">
          <a href="{% url 'contact-update' object.id %}" class="btn btn-info"> EDIT </a>
          <a href="{% url 'adminview' %}" class="btn btn-default"> BACK </a>

          {% if request.user.is_superuser %}
              <a href="{% url 'contact-delete' object.id %}" class="btn btn-danger"> DELETE </a>
          {% endif %}
      </div>
    </div>
{% endblock %}
